/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.carousel-control-next-icon{
    background-color: black;
  }
  .carousel-control-prev-icon{
    background-color: black;
  }
  
  .sr-only{
    display: none;
  }